body {
    margin-left: 20px;
    margin-right: 20px;
}

.code {
    font-family: monospace;
}

.border {
    border: 1px solid black;
    border-collapse: collapse;
}

.border th {
    border: 1px solid black;
}

.border td {
    border: 1px solid black;
}