nifi/git
cloudify_resources/vagrant_VMs/.vagrant
cloudify/.cloudify
cloudify_resources/my_virtualenv
cloudify_resources/vagrant_VMs/nifi-slave/.vagrant
cloudify_resources/vagrant_VMs/nifi-master/.vagrant
flink_resources/flink-filtering-module/.idea
virtual_sensors/.idea
autonomic_loops/.idea
kafka_streams/.idea
kafka_streams/target
autonomic_loops_java/.idea
autonomic_loops_java/target
jena_test_java/.idea
jena_test_java/target
autonomic_loops_java/logs
iQAS_ontology/config_fuseki_tdb/qoo-onto-sauv
_old_/flink_resources/flink-filtering-module/.idea
_old_/kafka_streams/.idea
_old_/flink_resources/flink-filtering-module/target
_old_/kafka_streams/target
