.mdl-layout__header-row {
    height: 230px !important;
    align-items: left !important;
    padding-top: 50px !important;
    flex-direction: column !important;
}

#request_addtional_infos {
    margin-top: 10px;
}

#view_request_obs table {
    width: 100% !important;
}

#view_request_obs p {
    line-height: normal !important;
}

#view_request_obs div.mdl-card__supporting-text {
    max-height: 252px;
    margin-bottom: 16px;
    overflow: auto;
}

.mdl-card__supporting-text, #view_request_obs .mdl-data-table__cell--non-numeric {
    font-size: 1rem !important;
}

@media screen and (max-width: 1024px) {
    #button_viewRequest_back {
        position: fixed;
        top: 204px;
        left: 72px;
    }
}

@media screen and (min-width: 1024px) {
    #button_viewRequest_back {
        position: fixed;
        top: 204px;
        left: 280px;
    }
}

