.form-card-wide {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 75%;
}

.form-card-wide form {
    width: 50%;
}

.mdl-card__supporting-text {
    display: flex;
}

.mdl-selectfield--floating-label.is-focused .mdl-selectfield__label, .mdl-selectfield--floating-label.is-dirty .mdl-selectfield__label {
    color: rgb(255, 82, 82) !important;
}